/* src/components/Layout/Layout.module.css */

.layoutContainer {
  width: 100vw;
  height: 100vh;
  /* Use the main app background color from App.css */
  background-color: var(--color-light-2); 
}

.mainContent {
  /* No more flex-grow needed */
  background-color: var(--color-light-1);
  height: 100vh;
  overflow-y: auto; /* Allow content area to scroll */
  padding: var(--spacing-xl);

  margin: 0 auto;
}